[2013-09-18 01:39] hura opened #3 "mop installas as "cmd" not as "mop" into gopath"
installing mop will install the binary as "cmd" into $GOPATH/bin/cmd

[2013-09-18 03:11] #3 closed, assigned to nobody

[2013-09-19 17:27] bacongobbler opened #5 "error: editor.regex.Split undefined"
Tried installing mop this morning:

[code]

Should this variable be type *regexp instead of *regexp.Regexp?

[2013-09-19 22:16] #5 closed, assigned to nobody

[2013-09-23 21:33] ivanacostarubio opened #6 "Feature Request: Tracking Portfolio"
Let me thank you for MOP. It is awesome that I can track the stock market form the command line. Superb. :beers:

I am wondering if you are planning to add some portfolio tracker to it? Let's say I buy X mount of stock at certain price and I want to track how much I am loosing or winning.

[2015-09-02 07:29] ZhiqinYang opened #13 "Help how to watch china stock market"
Excuse me ! I wonder how can i know china stock market ?

[2016-01-06 19:24] usfbrian opened #15 "Time zone not consistent (is PST, should be EST)"
The correct local time is displayed, but the displayed time zone is different (and does not match the output of "date" on local computer). For instance, it is currently 2:24 EST but the time displayed is 2:24 PST. I looked for a configuration file, but didn't see anything in .moprc.

[2016-01-19 02:53] tony1016 commented on #13
Yes,we need that

[2016-02-15 16:18] IWriteThings commented on #6
I would like to second this request.

[2016-04-06 13:34] brandonros opened #16 "Quick Visual Reference: Sparklines"
I might take this on.

Maybe some candle sticks, RSI/MACD? Is it not possible and that's why nobody has done it yet? I guess I'll soon find out.

[2016-06-14 17:48] bhartvigsen opened #17 "Won't build"
$ sudo go get github.com/michaeldv/mop
# github.com/michaeldv/termbox-go
/usr/lib/go/src/pkg/github.com/michaeldv/termbox-go/api.go:271: function ends without a return statement

[2016-06-14 17:54] bhartvigsen commented on #17
Update: looks like this app simply requires 1.1. Probably good to add a note to the README

[2016-06-14 17:54] #17 closed

[2016-06-30 16:56] fabrizioschiavi commented on #16
I designed a chart based on Unicode characters only just for this kind of charts. Very easy and useful.
I think only @michaeldv can be develop my project

[2016-07-06 10:11] fabrizioschiavi commented on #16
You can see what I means from this my [repository](https://github.com/fabrizioschiavi/terminal-trading-chart)

[2016-08-30 02:21] wxq126597 commented on #13
come on guys...just simply use ['http://hq.sinajs.cn/list=',StockCode],do your research...

[2016-10-09 15:54] troublew opened #25 "Error fetching market"
"Error fetching market data...                                                                                                                                                                       10:10:02pm PST
Unable to parse http://money.cnn.com/data/markets/"

Hie, when I execute mop, I cannot see the upper banner...
Thanks you.

[2016-10-10 16:38] cjc343 commented on #25
https://github.com/mop-tracker/mop/pull/24 fixes this error for the time being.

The current scraping code uses regex that expects to find the elements in a specific order. That order changed.

[2016-10-10 16:54] troublew commented on #25
Maybe am I doing something wrong, but your fork don't work for me... The same error appears again. Do it works for you?
I just want a tool alloying me to check the stock market quickly from the command line...
Thanks.

[2016-10-10 18:16] cjc343 commented on #25
Yes, if I'm using my fork, it works for me. If the following steps don't work for you, it's possible that the cnn market data page returns differently based on some factor such as geo, in which case you would need to tailor the regex to whatever format you receive.

In short:

[code]

[2016-10-10 18:51] troublew commented on #25
It works now after I followed your tutorial.
I did "go get -u github.com/cjc343/mop" before without success.
Thanks a lot!

[2016-10-10 18:51] #25 closed

[2016-12-20 20:55] brandleesee commented on #6
I am also in favour of such a feature.

[2016-12-20 21:01] brandleesee commented on #16
@fabrizioschiavi who can your chart feature be implemented in mop? thanks

[2016-12-21 08:04] brandleesee commented on #15
It can be fixed so:

### replace in: screen.go

[code]

### replace in: layout.go

[code]

### Last step

    $ cd cd $GOPATH/src/github.com/mop-tracker/mop
    $ make install

[2016-12-21 18:39] paulchang6 opened #28 "read in multiple .moprc files"
First, hats off to you for providing such a great lightweight program!

Just wondering if it's easy to provide a feature to read in multiple .moprc files? For example, if I create a one .moprc file for high-tech stocks, and create another .moprc for finance stocks, then if I just want to check all the financial stocks, I just need to open the corresponding .moprc file.

Thanks!!

[2016-12-29 11:41] brandleesee opened #29 "Terminal Scrollbar"
The terminal scrollbar does not work.

.moprc has more tickers than the 'screen' can handle.

Therefore, 36/45 are visible at anytime and cannot scroll the visualise the remaining.

[2017-01-05 16:10] glomrun opened #30 "Mop on RPI CPU Issue ?"
Hi,
I'm running mop on a raspberry Pi B+.
Don't know if this is a real isssue or not, but mop is using about 100%  of the cpu when running on raspberry.

  PID USER      PR  NI    VIRT    RES    SHR S %CPU %MEM     TIME+ COMMAND
 1071 root      20   0  848888  11256   5496 S 97,1  2,3  32:12.37 mop
Ps : I've added all the PA(PARIS) stock tickets in mop (about +200)

Have someone reproduced this is

[2017-01-17 09:39] kloongin opened #31 "error fetching market data"
unable to parse http://money.cnn.com/data/market

[2017-01-19 17:42] cjc343 commented on #31
See: #24 & #25

[2017-02-14 17:33] swharden opened #32 "default colors are bad for the colorblind"
issue description | reference image
---|---
If these are the default colors, the two hues are ***indistinguishable*** to the colorblind (1 in 12 males). I love this terminal app concept, but consider defaulting to magenta and green. Consider reviewing tips about [designing for colorblind users](http://www.somersault1824.com/tips-for-designing-scientific-figures-for-color-blind-readers/). Thank you

[2017-03-05 01:47] GrouchyGaijin opened #34 "Cannot make on Ubuntu 16.04"
I would like to use mop as it looks really good.
I installed the go language and added `export GOPATH="$HOME/workspace"` to my .bashrc
I then ran `source ~/.bashrc`

I followed the instructions on the mop-tracker github page and get as far as:
`cd $GOPATH/src/github.com/michaeldv/mop`

When I run `make` `make build` or `make install` I get a couple of error messages:

`~/workspace/src/github.com/m

[2017-03-23 18:53] eightysixed commented on #34
I'm getting the same thing as well.

[2017-03-25 14:47] brandleesee commented on #34
try this build
https://github.com/brandleesee/mop
as this should solve your problem

[2017-04-02 18:18] brandleesee commented on #34
changed to
https://github.com/brandleesee/TerminalStocks

[2017-04-04 18:39] arvin-foroutan commented on #34
@GrouchyGaijin @eightysixed for you, or anyone else running into problems: the readme (and Makefile) are still referencing the old GitHub repository.

You can either update line 6 in the Makefile to reference "mop-tracker" instead of "michaeldv", or do the following:

[code]

If the above `mop` command fails, make sure` $GOPATH/bin` is included in your PATH so you can run `mop` from any directory.

[2017-04-05 17:26] mig281 commented on #25
Hi...so the latest version of Mop (aside from all the issues as a result of the repo move still sitting in unmerged PRs) _still_ doesn't work without the fix proposed above. Are there any plans to fix this? :smiley:

[2017-04-14 12:47] j6k4m8 opened #38 "Unable to parse http://money.cnn.com/data/markets/"
Looks like they've updated their HTML. Do the developers have a good engineering estimate for this? I'd be interested in submitting a fix if this is something a relative Go-newbie could figure out.

[2017-04-17 16:18] virtualkill commented on #38
https://www.youtube.com/watch?v=QvBAEp3Znn4

[2017-04-17 16:19] virtualkill commented on #38
keep up the good work guys you will be excellent algorithmic traders

[2017-06-14 12:27] reicheltd commented on #38
+1

[2017-06-14 17:52] bthall commented on #38
Any word on this?

[2017-06-22 12:27] bthall commented on #38
This repo hasn't been touched in about a year. Maybe someone else should fork and take it over?

[2017-08-11 18:02] cjc343 commented on #38
See: #24 & #25

[2017-11-02 22:31] cjc343 opened #42 "New source for ticker data needed"
http://download.finance.yahoo.com/d/quotes.csv?s=%s&f=sl1c1p2oghjkva2r2rdyj3j1 is no longer serving quote data. The following message is displayed:

In short, a new source for ticker data is needed to replace yahoo. There will likely be additional changes required to support any new data source.

[2017-11-07 14:40] olestourko commented on #42
[Alpha Vantage](https://www.alphavantage.co/) looks promising. It offers a proper API instead of the common web scraping options. There' a nice looking Python wrapper for it [here](https://github.com/RomelTorres/alpha_vantage).

[2017-11-13 19:52] arvin-foroutan commented on #42
Here's another Yahoo source that still works but in a different format:

Single quote: https://query1.finance.yahoo.com/v7/finance/quote?symbols=AAPL
Multiple quotes: https://query1.finance.yahoo.com/v7/finance/quote?symbols=AAPL,NFLX

Both return json and I can't seem to get them to return csv via query parameters. Let us know if you guys have better luck.

[2017-11-14 12:36] arinbjornk commented on #42
There exists a python library for downloading quotes in the new format [c0redumb/yahoo_quote_download](https://github.com/c0redumb/yahoo_quote_download)

Not sure if it actually returns CSV but it says:

[2017-11-17 17:29] s195t opened #44 "Error fetching stock quotes... runtime error: index out of range"
I'm a complete noob on this, but I followed the install instructions.
When I launch mop, i get
`Error fetching stock quotes...
runtime error: index out of range
`
And when I try to type one of the commands listed it doesn't let me type them in.
I failed something in installation or is this an issue?
![schermata del 2017-11-17 18-28-25](https://user-images.githubusercontent.com/17969410/32960454-39

[2017-11-17 21:38] cjc343 commented on #44
#42

[2017-12-13 17:06] muammar commented on #44
Trying to compile `mop` makes the process to get stuck here:

[code]

[2017-12-14 20:12] muammar commented on #25
Thanks for these patches. I am getting this error:

[code]

[2017-12-15 00:53] cjc343 commented on #25
#42

[2018-01-04 16:30] SCKelemen commented on #44
I have the same issue. These are duplicates of #42 #38 #31

[2018-02-08 20:30] metiscus commented on #42
I've written some code in c++ that can get and parse the google api and retrieve almost all of the data needed here. I don't really know Go but in case someone who does has the time and inclination, you can find the code https://github.com/metiscus/cquote/blob/master/main.cpp

The general idea is as follows:
Do an HTTP GET for
std::string query = "https://finance.google.com/finance?q=";
        qu

[2018-04-02 04:52] reddysainathn commented on #44
Same Issue for Me

Error fetching stock quotes...
Get http://download.finance.yahoo.com/d/quotes.csv?s=AAPL+C+GOOG+IBM+KO+ORCL+V&f=sl1c1p2oghjkva2r2rdyj3j1: dial tcp: lookup download.finance.yahoo.com:

[2018-04-03 02:21] wilson-ku opened #45 "Error fetching stock quotes"
Error fetching stock quotes...
Get http://download.finance.yahoo.com/d/quotes.csv?s=AAPL+ALXN+AMZN

Any fixes or alternative sources?

[2018-04-29 18:05] jibanes commented on #45
should use google finance's api?

[2018-05-23 15:08] j6k4m8 commented on #38
Closing in light of more recent repos.

[2018-05-23 15:08] #38 closed

[2018-05-27 18:40] rahulrs opened #46 "Pulling Analyst ratings to tracked stocks"
Is it possible to pull analyst ratings for tracked stocks? Most stocks on Yahoo have:
https://finance.yahoo.com/quote/SQ/analysis

[2018-05-29 20:16] cjc343 commented on #46
Yahoo as a source of data is currently broken.

[2018-06-27 09:47] DMXL opened #47 "Homebrew install error"
[code]

[2018-06-27 10:37] DMXL commented on #47
Apparently homebrew has moved to SHA256 sum check according to the [Formula-Cookbook](https://github.com/Homebrew/brew/blob/master/docs/Formula-Cookbook.md#updating-formulae). It probably has something to do with the SHA1 crack earlier this year.

Please update the .rb file and release the latest version!

[2018-06-27 10:51] DMXL commented on #47
Btw I think that .rb file should to be excluded when releasing, otherwise the sha sum is going to change after you update it, thus a dead loop.

[2019-01-21 00:09] dabradham opened #48 "Make issues on Mac"
Issue Description:

I downloaded mop by cloning this git repository. Then I issued the `make` command from the root folder of this repo. I see the following error after trying to make:

[code]

I installed go from the homebrew package manager so all my symlinks are in `/usr/local/Cellar/go/1.11.4/bin`.

My path environment variable is:
`/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin`.

What can I do

[2019-03-05 15:14] Bashorc opened #49 "error fetching market data / stock quote"
Hey ! I'm getting the error fetching market data and error fetching stock quotes I tried the fix for the firs one but didn't change anything
![image](https://user-images.githubusercontent.com/39535884/53815277-a38fd200-3f61-11e9-87ce-d6515a1e9ed2.png)

[2019-03-09 18:38] hanksudo commented on #49
It seems Yahoo already shut it down.

http://download.finance.yahoo.com/

[2019-07-22 15:48] brandleesee commented on #29
Should have produced a screenshot to better back up my argument. Closing.

[2019-07-25 19:39] brandleesee commented on #31
Closing as same issue is referenced here https://github.com/mop-tracker/mop/issues/42.

[2019-07-25 19:39] #31 closed

[2019-07-25 19:41] brandleesee commented on #49
Closing as same issue is referenced here https://github.com/mop-tracker/mop/issues/42.

[2019-07-25 19:41] #49 closed

[2019-07-25 19:41] brandleesee commented on #45
Closing as same issue is referenced here https://github.com/mop-tracker/mop/issues/42.

[2019-07-25 19:41] #45 closed

[2019-07-25 19:44] brandleesee commented on #32
Hi, to be sure, are there any recommended values for replacing red and green?
Meaning what colour would better replace the red and same for the green.

[2019-07-25 19:49] brandleesee commented on #47
Hi, do you have any patches or can recommend any coder to help with this issue? If there is anyone in particular just reference the username using @, thank you.
It is on agenda to have this working, however, and admittedly, this is currently beyond me.

[2019-07-25 19:53] brandleesee commented on #46
Besides looking for another source (referenced https://github.com/mop-tracker/mop/issues/42), do you have a concept in mind on how the analyst ratings would best be displayed?
In my opinion, Mop as is, showcases a lot of data already...

[2019-07-25 19:54] swharden commented on #32
Green and magenta are perfect for two-colors operation.

To create palettes with additional colors I recommend this website:  https://medialab.github.io/iwanthue/

[2019-07-25 19:57] brandleesee commented on #48
Lately, I changed code for the original termbox-go to be used.
Can you check again, please with the new updates?
Not promising as there are a lot of things to do, however, it would help me eliminate one error and maybe revealing another common one...
Thank you.

[2019-07-25 19:59] brandleesee commented on #32
I'll tinker with the link, meanwhile, I think I can keep the green and only substitute the red with magenta, right?

[2019-07-25 20:01] brandleesee commented on #44
Closing as it is referenced here https://github.com/mop-tracker/mop/issues/42.

[2019-07-25 20:01] #44 closed

[2019-07-25 20:07] brandleesee commented on #16
@fabrizioschiavi Ciao Fabri! Potrei chiederti di farci una Pull Request?
Could I please ask you to make a pull request with your code so I can integrate in MOP?
Also while testing, I would appreciate some screenshots to try and find a good location for the chart.
My idea would be inline.
Thank you. Grazie mille!

[2019-07-25 20:14] swharden commented on #32
Hi @brandleesee, yes using green/magenta for up/down instead of green/red would do the trick.

Note however that it seems like several parts of your program don't have an up/down associated with them, so a third neutral color (white or gray) seems ideal.

Here's a quick mock-up with colorblind-safe colors `#00FF00` and `#FF00FF`

![image](https://user-images.githubusercontent.com/4165489/61905507-

[2019-07-25 20:18] brandleesee commented on #32
I see, would you care to provide a pull request so I can evalutae?
Am asking because from the screen I see that you already have it done.
Would really appreciate.
Thank you very much.

[2019-07-25 20:26] swharden commented on #32
I actually made the mock-up in photoshop (I didn't modify any code)...

I can do it this evening if you'd like me to make a pull request.

I'm guessing this is the site I'd be modifying:

https://github.com/mop-tracker/mop/blob/a42005fc08e4b231eb14ac4b0c0e696a62f8e642/markup.go#L36-L59

[2019-07-25 20:44] brandleesee commented on #32
Oh, I would be really appreciative of your pull request.
I do believe that there are more blocks of code to be amended but it will still be a good start.

[2019-07-26 08:56] fabrizioschiavi commented on #16
Ciao @brandleesee ! I just created the pull request, adding a folder 'todo' where I've put my sample. Unfortunately I’m not still a programmer and I can’t write this part of code. Sorry 🤷🏼‍♂️ but feel free to use my idea without problem.

[2019-07-27 03:52] swharden commented on #32
Is this error typical when the market is closed?

[code]

[2019-07-27 04:43] brandleesee commented on #32
Yes. It is referenced in https://github.com/mop-tracker/mop/issues/42.
Meanwhile, since my "takeover" - for lack of a more appropriate word - on my todo list is the need to bring this repository up to speed with my own.

[2019-07-27 07:14] brandleesee commented on #16
@fabrizioschiavi I have closed the pull request because I thought it would contain code. No matter, I'll keep this open as your concept is similar to what I have in mind. I am keeping the image and link for reference.

https://github.com/fabrizioschiavi/terminal-trading-graph/blob/master/%24chart.png

https://github.com/mop-tracker/mop/pull/50/files

Meanwhile @brandonros, did you have any progres

[2019-07-27 07:18] brandleesee commented on #32
I was thinking, if you want to patch the code at my repository, please feel free to do so. This way that will serve as the testing branch since Mop is not yet updated to a proper usable state.

[2019-07-30 03:53] swharden commented on #32
Ironically, the colors on your current branch are far better for the colorblind than this branch, so it looks like after all this no action is needed. Thanks for entertaining the conversation though! Best of luck continuing to develop this application.

[2019-07-30 03:53] #32 closed

[2019-08-01 04:52] brandleesee commented on #32
You're very welcome. This at least confirms that I can proceed with my current intention of "merging" my branch with original.

[2019-08-01 05:13] brandleesee opened #51 "Homebrew for Mac"
### Homebrew thread

_This shall be the home for revamping the homebrew code to install on Mac. All other old and new issues relating to this subject will be closed and referenced here. Their conversation will also be continued here._

**BREW**
Error when installing using brew:
https://github.com/mop-tracker/mop/issues/47
Date of issue: 27.07.2018

**MAKE**
Error after cloning and installing throu

[2019-08-01 05:13] brandleesee commented on #47
Closing as referenced in 51.

[2019-08-01 05:13] #47 closed

[2019-08-01 05:13] brandleesee commented on #48
Closing as referenced in 51.

[2019-08-01 05:13] #48 closed

[2019-08-15 07:35] NewbieReader commented on #42
![Capture12](https://user-images.githubusercontent.com/54128664/63079068-fe494300-bf6f-11e9-8f2a-8264b745e9e9.PNG)

Guys sorry for being a totally noob. Im getting the same comment as this guys post.
Error fetching stock quotes. Can you please give me the noob explanation why I cant get the quotes?
I have read that its has something to do with yahoo finance that now its giving its data availabilit

[2019-08-15 10:51] brandleesee commented on #16
Not to edit another image (the one in the readme as there are too many symbols!!!), this is the concept I envision with regards to visual data...

**sparklines**

![1](https://user-images.githubusercontent.com/12674437/63090385-63466e00-bf5b-11e9-8233-cb3721a981b7.png)

This concept is also suggested here:

https://github.com/pstadler/ticker.sh/issues/13

[2019-08-15 13:58] brandleesee commented on #42
Leave this here as this is part of the research:
https://blog.api.rakuten.net/api-tutorial-yahoo-finance/

[2019-08-19 15:59] laoshaw commented on #42
https://github.com/RxJSInAction/rxjs-in-action/issues/13

"Ran into the same issue. Found that this Yahoo API call will work, https://query1.finance.yahoo.com/v7/finance/quote?lang=en-US&region=US&corsDomain=finance.yahoo.com&symbols=FB&fields=regularMarketPrice but it returns JSON not csv."

[2019-09-15 08:43] brandleesee commented on #42
Should be fixed as per https://github.com/mop-tracker/mop/commit/e619620384738595fe4ec59f598b4fa161512eac https://github.com/mop-tracker/mop/commit/a4b86c4d15fa4d3b4480a827d9aabed3290a4c88 https://github.com/mop-tracker/mop/commit/f1908ce3c6a88e380865b2a4338540efb888088d https://github.com/brandleesee/TerminalStocks/commit/34a348528bb09cd55b019ac192613812f74f4695 https://github.com/brandleesee/Ter

[2019-09-15 15:53] brandleesee opened #53 "Custom column sort order"
I was wondering whether a custom option can be in implemented maybe by using an external textfile with the stocks displaced chronologically as one would wish to view them in terminal.

Would this be possible?

Thank you.

[2019-09-16 05:55] brandleesee commented on #13
This fork should do!
https://github.com/yuyang0/mop

[2019-09-16 05:55] #13 closed

[2019-09-16 05:57] brandleesee commented on #6
Am closing as this does not seem to be happening anytime soon. If interest is renewed one can always help us by submitting patches.

[2019-09-16 05:57] #6 closed

[2019-09-16 06:03] brandleesee commented on #28
I believe I managed to pull this off by creating several instances of mop and creating standalone executables. The aim was for portability. So that could be one solution.

[2019-09-16 06:03] #28 closed

[2019-09-16 06:05] brandleesee commented on #30
Am closing because I am unable to test on a raspberrypi. Also, two and a half years have passed.

[2019-09-16 06:05] #30 closed

[2019-09-16 06:06] #34 closed

[2019-09-16 06:06] #46 closed

[2019-10-16 10:40] cskoven opened #54 "current timezone in top right corner (not time) changes for every quote-refresh"
![Screenshot 2019-10-16 at 11 29 34](https://user-images.githubusercontent.com/22638608/66912024-0b3aef00-f012-11e9-9ee0-900f85c6c1c3.png)

"1" is added to current time for every quote-refresh.
It at least seem to occur every 5s. I couldn't immediately find the cause in the code.

EDIT:
... and, the timezone seems to flip between "PST" (when 1 is added) and "CEST". The actual timestamp does howeve

[2019-10-16 14:48] cskoven commented on #54
#55 corrected in this pull request

[2019-10-17 07:51] brandleesee commented on #54
Merged https://github.com/mop-tracker/mop/pull/55.
Thank you Christian for taking the time to fix this long-standing issue.

[2019-10-17 07:51] #54 closed

[2019-10-17 07:52] brandleesee commented on #15
Should be fixed now; https://github.com/mop-tracker/mop/issues/54.

[2019-10-17 07:52] #15 closed

[2019-10-17 07:59] brandleesee commented on #54
_Data Source_

Christian, now I realise that the issue here https://github.com/mop-tracker/mop/issues/42 is also resolved as data is now published normally without any errors. Therefore, the need for a new data source is no longer necessary, right?

_Operating System_

Could I please also ask what OS you are using? (In hopes that it is MAC as I need to update README with tutorial on how to install

[2019-10-18 00:57] mountaineerbr commented on #54
Hey guys.

Thanks for the great and simple (visually) programme.

I should mention there is no need for 1 dollar sign before quote rates "$".
Some rates are not in usd, such as the brazilian bovespa. All quotes rates
are symbols themselves.

I can appreciate it if the developer likes that $, though.

Best regards, jam

On Thu, 17 Oct 2019, 04:59 Brandon Lee Camilleri, <notifications@github.com>
wr

[2019-11-01 08:57] natedalliard commented on #42
Works for me!

[2019-11-05 18:22] brandleesee commented on #42
Great, noted!
Closing then :D

[2019-11-05 18:22] #42 closed

[2019-11-16 08:45] brandleesee commented on #54
@mountaineerbr can you please open a new issue? so that this thread regarding incorrect time zone can rest in peace? This also to know which are the active issues

[2019-11-16 09:34] brandleesee commented on #16
**General Information**

- https://www.edwardtufte.com/bboard/q-and-a-fetch-msg?msg_id=0001OR
- https://github.com/jweir/sparkline

**Go Sparklines**

https://github.com/omgnuts/gospark ▅▂▅▆▆▇▇▇█▆▇▄▅▆▅▅▁▁▂▃▂▁▂▃▄▄▆▅▂▃▆▅▄▂▅

[2019-11-18 09:59] mountaineerbr commented on #54
Dear Brandon. My last remark is not ​about ​an issue at all. Just keep the ​good work!​ I am sorry to reply through here, i am new to github and I don't know how else to reply. Cheers!​

[2020-01-23 09:58] cskoven opened #61 "Mop "breaks" once in a while - likely when there is a problem with fetching from yahoo??"
Quite often (as in, several times a day) I get the following (or similar?!) error:

"Get https://query1.finance.yahoo.com/v7/finance/quote\?symbols\=DANSKE.CO,ERIC-B.ST,FPKPEN.CO,SSO.OL,VWS.CO\&range\=1d\&interval\=5m\&indicators\=close\&includeTimestamps\=false\&includePrePost\=false\&corsDomain\=finance.yahoo.com\&.tsrc\=finance: read tcp 172.21.140.214:61687->87.248.1"

It seems like the ending

[2020-02-01 23:23] jcarreja commented on #29
I have the same problem. I can't scroll down. I have 500 symbols in my list.

[2020-02-12 12:23] cskoven commented on #61
.... or even attempt to clear the err and "retry" at the next cycle?

[2020-02-12 12:30] mountaineerbr commented on #61
Idk but yahoo server may block it sometimes in which case you should wait a
little before reconnecting.

Maybe your wifi signal is not very good, in that case use cable.

On Wed, 12 Feb 2020, 09:23 Christian Skoven, <notifications@github.com>
wrote:

[2020-02-12 15:30] cskoven commented on #61
I'm on a cabled connection.

I think it's more likely that the server blocks the script or the script failing
to get connection somehow - once in a while. Quite a lot of times during the
day.

My point is that the error message gets stuck on the screen/display/overview -
and that the quotes and market info don't update while the error message is on.

The connection itself isn't the issue, as it wo

[2020-03-22 17:42] JLineaweaver commented on #61
Facing the same issue.  Was looking at it a bit, and wonder if the issue is returning the error here

https://github.com/mop-tracker/mop/blob/4f481911f3db5b14a21ea399ff17958e0b3e3d3d/layout.go#L85-L87

Might do some experimentation on local machine, and see if I can figure it out.

[2020-04-06 16:17] marshall-brown opened #63 "Sorting "change" column does not evaluate decimal value correctly"
Version: Master as of 4-6-2020

![mopscreenshot](https://user-images.githubusercontent.com/43415868/78579982-be391800-77ff-11ea-96b0-6ecf7fa2b4fd.png)

Overview of Issue: I was sorting the change column with screen shot attached. As you can see "TSLA" at the time is 29.48 and is greater than "KMX" which is at 3.32. "TSLA" is higher and it appears is being evaluated by the the decimal from left to

[2020-04-21 00:05] lukerb52 opened #65 "A way to print as output once and exit, rather than updating?"
This program would be excellent to use in scripts; if the output could be piped into other commands. As-is, I cannot find a way to save the output.

[2020-04-25 18:10] mountaineerbr commented on #65
if you want just the price,

i have got a shell function that can be adjusted to do that.

check my repo at GitHub:

https://github.com/mountaineerbr/markets

the shell function could be such as

curl -sL
"https://query1.finance.yahoo.com/v7/finance/quote?symbols=TSLA&range=1d&interval=5m&indicators=close&includeTimestamps=false&includePrePost=false&corsDomain=finance.yahoo.com&.tsrc=finance"
| jq

[2020-06-04 15:49] marshall-brown commented on #63
Ill pull then test. Thank you.

[2020-06-04 20:49] eugeis opened #68 "How to configure an other market/ an other currency"
Hello,

I would like to configure a market in europe, e.g. Frankfurt in Germany, and use EUR currency.

How can I do it?

Thank you

[2020-06-14 14:58] brandleesee commented on #65
Can this be integrated, please?

[2020-06-14 15:00] #63 closed

[2020-06-19 00:05] nodesocket opened #70 "go/src/github.com/mop-tracker/mop/yahoo_quotes.go:77:5: undefined: market"
Running macOS 10.13.6 and doing `go get` errors with:

[code]

[2020-06-19 04:57] brandleesee commented on #70
Fixed via this pull-request: https://github.com/mop-tracker/mop/pull/69
Thanks, @ceocoder.

[2020-06-19 04:57] #70 closed

[2020-06-30 17:49] miostreams opened #71 "filter value does not appear accurate"
Here is my default view, snipped to two columns for clarity:
[code]
When I apply a filter such as `last < 150`

Amazon and Google are filtered out, but I still see Zoom ($255.19):

[code]
Am I misunderstanding the usage of filter, and the value that is represented?

**EDIT**: After applying a filter, if I quit from mop-tracker and reopen, then the filter appears to be applied correctly. My first t

[2020-08-20 12:58] rkelly opened #72 "Error Changing Sort Column - Index Out of Range"
Tried to change the sort column to the PreMktChg% column. Program quit with this error:

[code]

Program wouldn't start again with the `.moprc` SortColumn set to 15. Set it back to 1 and program started up OK again.

[2020-09-29 21:56] hubdows opened #73 "Change output colors"
Is it possible to put up/down color settings in the .moprc profile, so that we can change colors to suit our schemes?

[2021-01-12 21:37] yamori commented on #68
Related (but probably not as complex as @eugeis comment above), for the top 3 lines I'd hope to configure the listed currencies (currently euro + yen), these appear hard coded.  Would be nice to extract these into configurable items.

[2021-01-19 14:38] mstmob commented on #68
I'm not sure whether that's the actual question.
As the data is fetched from yahoo via the stock symbol, you could search for equivalent symbols for stocks at different exchanges.
For instance the Apple stock (symbol=APLE) also exists for the exchange in Frankfurt (symbol=APC.F).
If you add APC.F the currency is automatically EUR...

[2021-01-28 12:17] 1337god opened #75 "Mop went blank after fullscreen"
![image](https://user-images.githubusercontent.com/18701229/106137610-d600d480-6162-11eb-95c5-eac5ba7c6038.png)

[2021-01-28 17:08] #75 closed

[2021-02-02 14:35] yamori commented on #72
I happened upon the same issue.  Here's my [PRequest](https://github.com/mop-tracker/mop/pull/77).

[2021-02-10 20:12] alfkoehn commented on #68
I think that @mstmob answered this question/issue (at least this is how I use it for different markets)

[2021-02-25 08:40] WizardOfWor1969 opened #78 "Error on Mac"
Followed the instructions about setting up go workspace etc...

go get github.com/mop-tracker/mop/cmd/mop

results in

go get: module github.com/mop-tracker/mop@upgrade found (v0.2.0), but does not contain package github.com/mop-tracker/mop/cmd/mop

[2021-02-25 11:46] maxbalan commented on #78
got the same issue here, it might not be a related to Mac, as it looks like the package is outdated and does not work with latest version of go 1.16

[2021-02-26 23:59] s-maheshbabu commented on #78
Same issue. Did it work with an older version of go (as a temporary workaround)?

[2021-03-12 08:01] onlyvip opened #79 "go get gives the following error"
the only path i have is in my .bashrc and its this one
export PATH=$PATH:/usr/local/go/bin
 i am getting the following error
 ![image](https://i.imgur.com/YCsYeb0.png)

[2021-03-13 16:41] cheeezeburgers commented on #79
Same problem here on Catalina Terminal with zsh

[2021-03-13 16:43] cheeezeburgers commented on #78
Here you can read how to downgrade to Go 1.14: https://blog.notmyhostna.me/posts/downgrade-go-installed-with-homebrew/

[2021-03-15 03:52] onlyvip commented on #79
I haven't tried this but going back in go version solves it maybe try doing that like 14 version or near to that

[2021-03-17 15:26] definitepotato commented on #79
Bumping this, same issue here on go version 1.16.2 (latest as of this comment) with $GOPATH set.  Can confirm it worked fine using go version 1.15.10 on the same system.

[2021-03-22 13:23] jrcharney commented on #29
Yeah, this issue is NOT closed! I would have hoped Page Up and Page Down would do something.

[2021-04-13 18:33] bwhthd commented on #79
Same issue here

[2021-04-14 15:13] TheNageek commented on #79
Bumping, Ubuntu 18.04.5 LTS, Go 1.16.3

[2021-04-19 01:00] TheNageek commented on #79
2nd @definitepotato, that's the quickest workaround

[2021-04-21 03:58] thenewmantis commented on #79
Same problem here on Gentoo. Was on Go 1.16.3 when I tried installing mop; downgraded to go 1.15.10 and it fixed it.

[2021-04-26 14:12] definitepotato commented on #79
Looks like there's not been any activity on this project in quite some time, I might fork it and continue the work.

[2021-04-30 12:36] robertalv commented on #79
https://github.com/robertalv/mop follow instructions

[2021-05-18 13:20] #72 closed

[2021-05-18 13:23] brandleesee commented on #16
Should an interested developer wish to implement this, will oblige accordingly.

[2021-05-18 13:23] #16 closed

[2021-05-18 13:23] brandleesee commented on #51
This is way beyond my capablities.
Having said so, any experienced developer who wishes to tackle Mac is most welcome.

[2021-05-18 13:23] #51 closed

[2021-05-18 13:24] brandleesee commented on #53
Closing for there was no approach.
Anyone interested will re-open.
Ideally to submit pull requests.

[2021-05-18 13:24] #53 closed

[2021-05-18 13:26] #61 closed

[2021-05-18 13:26] #65 closed

[2021-05-18 13:27] #68 closed

[2021-05-18 13:27] brandleesee commented on #71
Is this problem solved, please?

[2021-05-18 13:28] brandleesee commented on #73
Should someone be interested in submitting a pull request for this I'll gladly integrate.
Closing for now.

[2021-05-18 13:28] #73 closed

[2021-05-18 13:29] brandleesee commented on #78
CLosing for now. SHould an interested developer wish to submit patches for Mac, I'll gladly integrate.

[2021-05-18 13:29] #78 closed

[2021-05-18 13:35] brandleesee commented on #79
@robertalv Rob have integrated your instructions in mine. Thank you.
https://github.com/mop-tracker/mop/commit/7c1fae596cdbd0a99513ba641cdeaf687224bc21
Should you wish to send any patch, I'd be happy to integrate.

[2021-05-18 13:35] #79 closed

[2021-05-18 19:30] m-holt commented on #71
Just checked, and this does appear to be working now.

[2021-05-19 08:06] brandleesee commented on #71
I am closing then, thank you for the feedback. :)

[2021-05-19 08:06] #71 closed

[2021-05-20 11:20] FotomicWS opened #80 "After hours and pre hours trading support"
Love this program.  Just started using it.  I always check this program to verify the prices I see online, because sometimes web pages stick and need to be refreshed.  Works great for the main trading session of the day, but there are actually three trading session, the pre hours, regular hours and after hours sessions.  I know we have the change % -which incidentally would be nice to be able to m

[2021-06-23 14:23] PATTOOo opened #81 "panic: No parameter found."
buy mistake i added wrong filter. how can i clear that filter and run it.
not able to find '.moprc'

[2021-08-10 19:20] FotomicWS commented on #81
the .moprc should be in your home director, ~/.mopcr.   Should be something like ,"Filter":"a"} at the end of the line.  You remove the Filter:a, but not the bracket.  Save a backup just in case.

[2021-09-03 14:05] Boruch-Baum opened #82 "bad filter crashes system in way difficult to recover"
If one enters a invalid filter, the program terminates, AFTER writing the bad filter to the config file. Thus, any attempt to restart the program will fail until the config file is manually edited.

More fundamentally, a keyboard user-error shouldn't panic the program to crash.

And an invalid setting should not be save to disk.

I'm not a `go` programmer and don't have development set up, but eye

[2021-09-03 14:06] Boruch-Baum commented on #82
Oh, and print a helpful error message, however that's done in `go`.

[2021-09-15 17:20] LingxiaoShawn commented on #79
Solution:    go mod init https://github.com/mop-tracker/mop

[2021-10-02 02:54] kevinclevenger opened #83 "Crashes with open or last filter"
version: 2021.05.18-1 (arch current)
filter: open <= 5

panic: Value '20.99' cannot be used with the comparator '<=', it is not a number

goroutine 1 [running]:
github.com/mop-tracker/mop.(*Filter).Apply(0xc0001fa018, {0xc000310a00, 0x1a, 0xc00036dcc0})
	github.com/mop-tracker/mop/filter.go:53 +0xbf6
github.com/mop-tracker/mop.(*Layout).prettify(0xc000094000, 0xc000094c40)
	github.com/mop-tracker/

[2021-11-12 16:28] adambhayes commented on #82
I'm seeing the same problem, and I get this (below) every time I start mop after having put in a bad filter.  I have to edit the .moprc manually to fix it.

[code]

[2021-11-19 17:44] brandleesee commented on #82
@adambhayes can you submit a patch with your manual fix, please?

[2021-11-22 15:45] adambhayes commented on #82
I'll try to make a patch this week.

On Fri, Nov 19, 2021 at 09:45:05AM -0800, Brandon Lee Camilleri wrote:

--

--------------------------------------------------------------------------------
My PGP key: http://pgp.mit.edu/pks/lookup?op=get&search=0x7532BDF41DA9C031

[2021-11-23 09:05] brandleesee commented on #82
Thank you.

[2021-11-24 03:56] adambhayes commented on #82
I made some small changes to prevent the crash, and I'll make a pull request.

* Instead of a panic(err), the filter string is cleared to "" if it is found to be invalid.
* The profile is not saved in the SetFilter() function, because that saves a bad filter before it can be cleared.
* The profile is saved on program exit (exit from the main loop).
* Unrelated to this bug, I fixed a typo in the RE

[2021-11-24 15:45] brandleesee commented on #82
Closing as fixed in https://github.com/mop-tracker/mop/pull/84.
Thank you, @adambhayes

[2021-11-24 15:45] #82 closed

[2021-11-24 15:46] brandleesee commented on #81
Closing as fixed in https://github.com/mop-tracker/mop/pull/84.
Thank you, @adambhayes

[2021-11-24 15:46] #81 closed

[2021-11-24 17:01] Boruch-Baum commented on #82
Thanks for working on this.

On 2021-11-23 19:56, adambhayes wrote:

--
hkp://keys.gnupg.net
CA45 09B5 5351 7C11 A9D1  7286 0036 9E45 1595 8BC0

[2021-11-24 18:10] adambhayes commented on #82
My pleasure!  I like this tool.  I have a few ideas, and saw a few more bugs.  I'll see if I can contribute some more things soon...

[2021-11-24 19:15] brandleesee commented on #82
Oh man, music for my ears. Thank you @adambhayes

[2021-11-27 04:17] adambhayes opened #85 "Shortened (e.g. filtered) quotes list causes screen to not update"
If the quotes list is shortened, e.g. by filtering the quotes, then the screen does not update properly.  Here's an example.

Full quotes list:
![nofilter](https://user-images.githubusercontent.com/82328878/143667709-27a097d9-64e7-4ac8-b4d4-11a9e816e42c.png)

Incorrectly-filtered list:
![bad-update](https://user-images.githubusercontent.com/82328878/143667712-69606605-614b-41ca-b664-63a8beca1b62.p

[2021-11-27 04:34] adambhayes commented on #85
I have a patch below.  There seems to be no way that is robust to big changes in the display format to determine whether quotes are in the new screen update, except to either look at the number of lines being updated in this cycle, or by looking for the "Ticker Last Change..." line in the update strings.  I'm doing the latter here.  The code changes are small, but I put in a chunky comment to clar

[2021-11-27 04:52] adambhayes opened #87 "Filters not working"
It seems like the filter only works for the Ticker column, where you can match a string: ``ticker=="IBM"``   If you filter on a numerical column, like in the example in the readme (``last <= 5``), the filter fails and is cleared in the next cycle.  An example is below, where I try to filter on the "last" value.

Here is the filter expression being entered:
![Screenshot from 2021-11-26 23-46-25](ht

[2021-11-27 04:55] adambhayes opened #88 "Make single-shot to pipe / redirect to other commands"
It would be nice if we could get a single snapshot of output by something like
```mop --single > output.txt```
This would be really handy for scripting alerts and actions based on the output.

[2021-11-27 18:27] brandleesee commented on #85
Thank you very much @adambhayes for squashing this bug. I was simply re-opening the executable in order to remove the faux-duplicates. Yours is the way to go.

[2021-11-27 18:27] #85 closed

[2021-11-27 18:30] brandleesee commented on #87
@adambhayes Adam, I will not beat around the bush: I am hoping you are capable of producing a PR for this issue.
I am actually grateful to find such a knowledgeable contributor.
Thank you.

[2021-11-27 18:31] brandleesee commented on #88
Sure, go ahead!
(and thank you)

[2021-11-27 18:46] brandleesee commented on #80
@FotomicWS Dear Bill, please feel free to open a new issue and submit patches accordingly.
In the meantime am closing this.

[2021-11-27 18:46] #80 closed

[2021-11-28 01:55] adambhayes commented on #87
I won't claim to be knowledgeable, but I'm having fun with mop...  We'll see...  :D

[2021-11-28 11:14] ogarcia opened #90 "Cannot build"
After the changes in `go.sum` introduced in bb3c408, cannot build:

[code]

To fix it you can run:
[code]
And push the changes

[2021-11-28 12:19] brandleesee commented on #87
Merged, Adam, thank you :)

[2021-11-28 12:19] #87 closed

[2021-11-28 12:53] brandleesee commented on #90
May I cordially ask you to send me a patch? Thank you very much.
I re-instated files as per https://github.com/mop-tracker/mop/commit/bc83f8a3730903dd7bab7619d6045dd99eb45537 but to no avail. Then I sampled from my own (https://github.com/brandleesee/TerminalStocks) but again no progress.

[2021-11-28 18:11] adambhayes commented on #90
And it builds for me.  It might be best if @ogarcia makes the pull request, if they can.

[2021-11-28 19:48] brandleesee commented on #90
Yes, I meant for @ogarcia to return with a PR :)

[2021-11-29 01:45] adambhayes commented on #90
I'm not sure I trust me on this, but I did the ``rm go.sum``, ``go get -u``, and ``go mod tidy``, and now it builds for me without changing the go.mod or go.sum.  I'm not making a pull request yet, because I think a go expert ought to look at it.  It's here: https://github.com/adambhayes/mop/tree/mod-sum-update

[2021-11-29 06:21] brandleesee commented on #90
I have had some progress but am stuck with calling arguments as follows:

First off, I updated (in my offline mop test) the `go.mod` and became

[code]

In turn this changed the `go.sum` to

[code]

This seems to have introduced a bug in `yahoo_quotes_test.go` as follows

![image](https://user-images.githubusercontent.com/12674437/143818300-5a3ae54d-b76b-4272-bbe8-29d87b8cbb3e.png)

Any ideas, ple

[2021-11-29 09:35] ogarcia commented on #90
Hi, after apply this changes I can build `mop`:

[code]

Seems work well, but is true that tests fail:
[code]
[code]

[2021-11-29 18:01] brandleesee commented on #90
@ogarcia can you please test now, it should work correctly.

- removed yahoo_quotes_test.go https://github.com/mop-tracker/mop/commit/6662276138205f710071f3e05fce62b016dcce6e
- then updated go.mod https://github.com/mop-tracker/mop/commit/eaed66c46df5c3585362e158a45ece0c438f3df8
- then updated go.sum https://github.com/mop-tracker/mop/commit/8c50782a406cacf4c2f178e5809bcb258af7d721

![image](https

[2021-11-30 07:36] ogarcia commented on #90
Yes, it works perfect :+1:

I think that can close the issue

[2021-11-30 07:48] brandleesee commented on #90
Noted & closing.
Thank you for testing from your end.
:)

[2021-11-30 07:48] #90 closed

[2021-11-30 07:50] ogarcia commented on #90
Thanks. In this case is for [Arch Linux package](https://aur.archlinux.org/packages/mop/). :wink:

[2021-11-30 07:52] brandleesee commented on #90
OH! Great!
Thanks for including in Arch :))

[2021-11-30 11:06] brandleesee commented on #32
@swharden Long time!

May I gently ask of you to review both Mop and TerminalStocks in way of visibility for colorblindness, please?
Two years have passed and some merges affected the color output as well.
Your expertise in this matter is much appreciated.

https://github.com/brandleesee/TerminalStocks
https://github.com/mop-tracker/mop

Thank you very much.

[2021-12-12 18:11] swharden commented on #32
Hi @brandleesee,

Assuming the colors those projects currently use are the ones displayed in the screenshots on their main readme files, both look good to me! In the future you can check colorblind compatibility yourself by screenshotting your app and simulating what color blindness would look like using a tool like https://pilestone.com/pages/color-blindness-simulator-1 but feel free to reach-out

[2021-12-13 08:43] brandleesee commented on #32
Dear @swharden, thank you for checking the screenshots, confirming, and extending your very cooperative hand. I am very appreciative of your feed back and that link is indeed valuable.
Cheers :)

[2022-01-07 07:24] LinuxLinksdotcom opened #93 "Currency symbol"
When adding tickers from non-US exchanges, the stock price is incorrectly shown as $

For example, AZN.L (listed on the FTSE) should be shown with a price in £ not $.

[2022-01-07 14:34] joce opened #95 "Version not properly bumped"
Several places wtill showing `0.2.0` as the current version in the code. I created PR #94 to address the situation. However, accepting the changes might make the actual the version `1.0.1`. Feel free to ignore my PR and fix on your own.

[2022-01-12 11:05] brandleesee commented on #95
https://github.com/mop-tracker/mop/pull/94#event-5879485608
Closing as referenced pull request was integrated.
Thank you once again, @joce.

[2022-01-12 11:05] #95 closed

[2022-01-12 12:29] brandleesee commented on #93
@LinuxLinksdotcom Indeed!
Fixed here: https://github.com/mop-tracker/mop/commit/c5e6a3c2e2db689034e73a589c57767e0dc4ac29
Can you please check from your end?
I am closing this but if issue persists will re-open again.

[2022-01-12 13:50] LinuxLinksdotcom commented on #93
The commit doesn't fix the bug.

The issue is that the wrong currency is displayed for non-US stocks for columns such as Last, Change, Open, Low, High etc.

AZN.L still shows as a dollar price when it's £, AZN.ST still shows as $ when it's priced in Swedish Krona etc.

[2022-01-12 16:38] brandleesee commented on #93
Fixed: https://github.com/mop-tracker/mop/commit/81febd7d51491205ae3b6bb2844721cb79623665
(pound in Yahoo Finance is not GBP but GBp - https://finance.yahoo.com/quote/AZN.L?p=AZN.L&.tsrc=fin-srch)

Swedish currency added.

Thank you for the report, please check from your end. Will reopen if the issue persists.

[2022-01-12 16:38] #93 closed

[2022-01-12 20:09] LinuxLinksdotcom commented on #93
Bug is not fixed just yet.

It's GBp, the lower case p means pence, not pounds.

You're showing the prices in pounds, not pence. For example, your program is showing AZN.L has a share price of £8479.00. It's either 8479.00p or £84.79, not £8479.00.

[2022-01-12 20:31] brandleesee commented on #93
Thank you for the clarification.

Fixed here: https://github.com/mop-tracker/mop/commit/6d416e9e3675d899bc574db06ebda66580b74184

TBH, I am not really happy with p8479.00 but am not keen on changing the position of the currency symbol in order to respect the proper written format.

Alternatively, I could change it to £p example £p8479.00. This makes more sense to me. What's your take, @LinuxLinksd

[2022-01-12 20:49] LinuxLinksdotcom commented on #93
Personally I prefer p8479.00 to £p8479.00. I've never seen a UK stock shown with a price prefixed £p -- poundpence doesn't mean anything.

[2022-01-12 20:57] brandleesee commented on #93
I am in agreement with your rationale.
Shall leave it as pXXXX.xx.
Thank you very much for the testing.
Anything you see off, please report back.

[2022-02-22 03:56] joce opened #97 "Loading mop with invalid .moprc will wipe .moprc file"
If you modify the `.moprc` file by and and mistakenly leave a wrong coma somewhere, the whole file will get wiped.
If the .moprc file is malformed, I would expect the program to let me know and leave the .moprc file untouched.

[2022-02-22 04:05] joce opened #98 "Entering some incorrect ticker values will make mop not display the stocks properly."
Entering, for example `SHO{` (instead of `SHOP`), will result in mop displaying no ticker values at all.
The values entered by the user should be sanitized before being treated. I think something like `[A-Z][A-Z_\-\.]*` or something similar (maybe limiting the number of special characters too) should work.

[2022-02-23 23:47] joce commented on #88
@adambhayes I imagine you'd like something like

[code]
that would result in `output.txt` containing e.g.:
[code]
? (The last two dashes being the pre and post market. They would be there both during trading hours, or be replaced by the market change percent corresponding to the AH period, if any)

Would you also want

[code]

to give
[code]
?

I see this info as a bit dense. So maybe a way to sel

[2022-02-25 07:55] brandleesee commented on #88
My 2c on this matter.

Maybe we put a -verbose flag to output all available jnfo per stock(s) (ie the dense version) and the individual switches for each column.

Also, please, I would need the readme.md be updated with list of flags/switches.

What do you think, makes sense?

[2022-02-25 07:56] brandleesee commented on #88
girhub on mobile phone is a bit quirky sorry

[2022-02-25 16:20] joce commented on #88
Thinking more about it, I think maybe it should provide a format string if you want something other than the full one. e.g. :

[code]
would result in:

[code]
(We'd need a token for each of the columns, but I think it's doable)

[2022-02-28 19:28] brandleesee commented on #88
I am in favour of all you suggested and am assuming that `mop -verbose` downloads all the tickers. This is one feature I would personally find helpful as it would serve as a report on all the tickers being observed.

[2022-03-02 03:07] adambhayes commented on #88
@brandleesee  &  @joce  : I like your plan!

[2022-03-02 03:08] adambhayes commented on #88
At some point, something more machine-readable as output might be helpful, like csv with the "$," "%," etc. removed from the values.  Just a thought.  But this is great.

[2022-03-02 14:12] joce commented on #88
There could be a `--raw` option to strip any non-numerical symbols.

[2022-03-31 17:58] joce commented on #88
@adambhayes So I thought about this long and hard. The tl;dr; is I don't think it would be the right thing for MOP to implement this.

The UNIX philosophy is to approach software from a minimalist and modular way, and there are already a number of existing tools that exist that can get you exactly where you want to go. Also know that the tools I'll be using are all available on Linux and Windows (

[2022-04-01 21:22] joce commented on #97
This was fixed by #99

[2022-04-01 21:22] #97 closed

[2022-04-02 08:30] brandleesee commented on #97
Thank you, @joce.

[2022-04-02 08:42] brandleesee commented on #88
@joce Noting the very detailed post, would you consider writing an entry in the wiki section? (I would then insert a link in the README.md.)

At the moment the wiki is locked but if you are in agreement, I would unlock it and you could write a detailed article on how to go about installing/downloading the data.

In the meantime, you can close this thread.

@adambhayes should you wish to pursue you

[2022-04-02 16:03] adambhayes commented on #88
Hi, @joce and Brandon. I see what you mean, @joce. This does make sense, and I'm personally satisfied with your approach using curl and jq. None of us have tons of time now anyway, but it's a fine solution.

On April 2, 2022 4:42:12 AM EDT, Brandon Lee Camilleri ***@***.***> wrote:
***@***.*** Noting the very detailed post, would you consider writing an entry in the wiki section? (I would then ins

[2022-04-04 17:18] joce commented on #88
I do not mind, though I'm not certain it has mush to do with mop per se if we decide this is not a direction we wish to take.
I've already written a blog post (my first!) about it (https://jocelyn.legau.lt/posts/pulling-yahoo-finance-tickers-to-csv/), basically rehashing what I had written here. I could modify it a bit more to adapt it to a wiki post if you wish to have it here as well.

[2022-04-05 12:00] adambhayes commented on #88
I know what you mean, @joce, about it being a little outside the scope, because it's something *not* being implemented. But, if there aren't any restrictions on what's in docs, it's a nice thing to have written down, because it takes time to figure out.

On April 4, 2022 1:18:29 PM EDT, Jocelyn Legault ***@***.***> wrote:

[2022-04-05 15:46] brandleesee commented on #88
Thank you for the blog's link, @joce. And yes, please, I would rather have a dedicated page on how to download data etc in mop's repository. The reason behind this is so that this repository has its own instructions just in case the blog no longer remains available for whatever reason. I am not forcing you to do it, mind you! But if you do, I would be grateful.

The wiki for mop repository is now

[2022-04-19 16:18] brandleesee commented on #88
@joce would you be happy to share the markdown file for your article so I can shape it and then upload it to the wiki section? I do not mind doing this myself.

In the meantime, have placed a reference in the README.md file / https://github.com/mop-tracker/mop/commit/e65c1bc08ee37b09a356881533fc11678eec080e

Am also closing this as I am considering the issue as partially resolved.

[2022-04-19 16:18] #88 closed

[2022-05-02 07:58] brandleesee commented on #29
Linking this PR https://github.com/mop-tracker/mop/pull/100 to this thread.

[2022-05-03 16:52] brandleesee commented on #29
Adding @Mohit-Agarwa1, presently developing at above PR.

[2022-05-03 17:00] brandleesee commented on #98
Dear @joce, may I ask whether there is any progress on this, please?
Thank you very much and looking forward to more collaborations with your good self.

[2022-05-03 17:15] joce commented on #98
I do have some local changes to that effect that I have not pushed yet. I
would need to get back to it.

On Tue, May 3, 2022 at 1:00 PM Brandon Lee Camilleri <
***@***.***> wrote:

[2022-05-04 05:32] brandleesee commented on #98
I would be grateful and thank you once again.

[2022-06-01 08:44] #29 closed

[2022-06-17 04:30] JohannVonDiesel opened #101 "Error fetching market data..."
[code]
<img width="1244" alt="image" src="https://user-images.githubusercontent.com/107275894/174224151-fa48455f-e692-4516-9ab0-93ce19ecaa54.png">

On a Mac OS / Darwin ARM64 system.

[2022-06-17 07:43] brandleesee commented on #101
@JohannVonDiesel, thank you for reporting, we shall be looking into the matter.

[2022-06-17 16:15] JohannVonDiesel commented on #101
https://github.com/mop-tracker/mop/blob/c854a290579b14df1aa20c2e80ba65c79a53bee0/cnn_market.go#L16

Should be changed to:
[code]

[2022-06-18 00:16] archrunner opened #102 "Error fetching market data..."
data is not updating realtime -
above the tickers it says:

Error fetching market data...
runtime error: slice bounds out of range [:-1]

time is updating normally

This is on Arch Linux (KDE/Plasma)

![image](https://user-images.githubusercontent.com/107733094/174414550-e3a13619-04f7-4d0c-b1b4-9d2e4c1f6e59.png)

[2022-06-18 07:22] brandleesee commented on #102
Thank you for opening the issue, @archrunner, may I please ask you to follow and comment on this thread https://github.com/mop-tracker/mop/issues/101, please. as your is a duplicate. Thank you very much.

[2022-06-18 07:22] #102 closed

[2022-06-18 07:33] brandleesee commented on #101
Adding @archrunner to this thread.

@archrunner, @JohannVonDiesel, @joce, and any follower of this thread, please feel free to provide a pull request should you be able to resolve the issue whilst we are working on it.
Thank you.

[2022-06-18 21:00] joce commented on #101
Looks like the CNN source has changed quite a bit. Trying to find a better one that is not too hard to fetch data from.
The BBC appears to be mostly there, but it's missing the 10-year yield.
https://www.bbc.com/news/business/market-data

[2022-06-21 20:45] joce commented on #101
Looking at Yahoo! Finance a bit more, I realized I can use the mechanism already in place for stocks to be able to gather the data. This means I will be able to do away with the CNN source parser entirely. 🎉

[2022-06-22 09:25] brandleesee commented on #101
That would consolidate moren the code, thank you.

[2022-08-22 16:47] brandleesee commented on #101
Software working as intended, per PR https://github.com/mop-tracker/mop/pull/103.
Thank you @Mohit-Agarwa1

[2022-08-22 16:47] #101 closed

[2022-09-19 19:39] brandleesee commented on #98
Closing until further notice.

[2022-09-19 19:39] #98 closed